@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    
    li {
        display: inline-block;
    }

    .navbar-default {
        border-left: none;
        border-right: none;
    }
}

footer {
    padding-bottom: 50px;
    background-color: transparent;
    margin-top: 100px;
    border-top: 1px solid #ccc;
}

.logoFooter {
    /* color: #ccc; */
    font-size: 3em;
    margin: 0px auto 20px auto;
    padding: 50px 0px 0px 0px;
}

.logoFooter > p {
    text-align: center;
}

#copy {
    font-size: initial;
    color: grey;
}

.network { margin-right: 40px}

.social {
    width: 300px;
    margin: 0px auto 0px auto;
}

#pawol {
    color: blue;
}

#mizik {
    color: red;
}

.container-fluid {
    background-color: transparent;
}

.navbar-default {
    border-top: none;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */

}