<footer>
  <div class="alphabeticalOrder">
    <!-- <ul>
      <li><a [routerLink]="['/atis', 'a']">A</a></li>
      <li><a [routerLink]="['/atis', 'b']">B</a></li>
      <li><a [routerLink]="['/atis', 'c']">C</a></li>
      <li><a [routerLink]="['/atis', 'd']">D</a></li>
      <li><a [routerLink]="['/atis', 'e']">E</a></li>
      <li><a [routerLink]="['/atis', 'f']">F</a></li>
      <li><a [routerLink]="['/atis', 'g']">G</a></li>
      <li><a [routerLink]="['/atis', 'h']">H</a></li>
      <li><a [routerLink]="['/atis', 'i']">I</a></li>
      <li><a [routerLink]="['/atis', 'j']">J</a></li>
      <li><a [routerLink]="['/atis', 'k']">K</a></li>
      <li><a [routerLink]="['/atis', 'l']">L</a></li>
      <li><a [routerLink]="['/atis', 'm']">M</a></li>
      <li><a [routerLink]="['/atis', 'n']">N</a></li>
      <li><a [routerLink]="['/atis', 'o']">O</a></li>
      <li><a [routerLink]="['/atis', 'p']">P</a></li>
      <li><a [routerLink]="['/atis', 'q']">Q</a></li>
      <li><a [routerLink]="['/atis', 'r']">R</a></li>
      <li><a [routerLink]="['/atis', 's']">S</a></li>
      <li><a [routerLink]="['/atis', 't']">T</a></li>
      <li><a [routerLink]="['/atis', 'u']">U</a></li>
      <li><a [routerLink]="['/atis', 'v']">V</a></li>
      <li><a [routerLink]="['/atis', 'w']">W</a></li>
      <li><a [routerLink]="['/atis', 'x']">X</a></li>
      <li><a [routerLink]="['/atis', 'y']">Y</a></li>
      <li><a [routerLink]="['/atis', 'z']">Z</a></li>
    </ul> -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Atis yo:</a>
          </div>
          <ul class="nav navbar-nav">
              <li><a [routerLink]="['/atis', 'a']">A</a></li>
              <li><a [routerLink]="['/atis', 'b']">B</a></li>
              <li><a [routerLink]="['/atis', 'c']">C</a></li>
              <li><a [routerLink]="['/atis', 'd']">D</a></li>
              <li><a [routerLink]="['/atis', 'e']">E</a></li>
              <li><a [routerLink]="['/atis', 'f']">F</a></li>
              <li><a [routerLink]="['/atis', 'g']">G</a></li>
              <li><a [routerLink]="['/atis', 'h']">H</a></li>
              <li><a [routerLink]="['/atis', 'i']">I</a></li>
              <li><a [routerLink]="['/atis', 'j']">J</a></li>
              <li><a [routerLink]="['/atis', 'k']">K</a></li>
              <li><a [routerLink]="['/atis', 'l']">L</a></li>
              <li><a [routerLink]="['/atis', 'm']">M</a></li>
              <li><a [routerLink]="['/atis', 'n']">N</a></li>
              <li><a [routerLink]="['/atis', 'o']">O</a></li>
              <li><a [routerLink]="['/atis', 'p']">P</a></li>
              <li><a [routerLink]="['/atis', 'q']">Q</a></li>
              <li><a [routerLink]="['/atis', 'r']">R</a></li>
              <li><a [routerLink]="['/atis', 's']">S</a></li>
              <li><a [routerLink]="['/atis', 't']">T</a></li>
              <li><a [routerLink]="['/atis', 'u']">U</a></li>
              <li><a [routerLink]="['/atis', 'v']">V</a></li>
              <li><a [routerLink]="['/atis', 'w']">W</a></li>
              <li><a [routerLink]="['/atis', 'x']">X</a></li>
              <li><a [routerLink]="['/atis', 'y']">Y</a></li>
              <li><a [routerLink]="['/atis', 'z']">Z</a></li>
          </ul>
        </div>
      </nav>
  </div>
  <div class="logoFooter">
    <p><span id="pawol">Pawol</span><span id="mizik">Mizik</span>.com</p>
    <p id="copy">&copy; 2018 Dunex Digital Strategy</p>
  </div>
  <div class="social">
      <a class="network" href="https://www.facebook.com/pawolmizik"><img src="./assets/logos/facebook.png" alt="follow facebook"></a>
      <a class="network" href="https://twitter.com/pawolmizik"><img src="./assets/logos/twitter.png" alt="follow twitter"></a>
      <a class="network" href="https://soundcloud.com/pawolmizik"><img src="./assets/logos/soundcloud.png" alt="follow soundcloud"></a>
      <a class="network" href="https://www.youtube.com/user/videosbypawolmizik"><img src="./assets/logos/youtube.png" alt="follow youtube"></a>
      <a href="http://www.instagram.com/pawolmizik"><img src="./assets/logos/instagram.png" alt="follow instagram"></a>
  </div>
</footer>