@media only screen and (max-width: 767px) {
    /* For mobile phones: */

    .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .top_artist {
        padding: 0px 0px 10px 20px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    
    .top_artist > .one {
        width: 30%;
        display: inline-block;
        margin-right: 1%
    }
    
    img {
        width: 100%;
        height: 120px;
        opacity: 0.7;
    }
    
    img:hover {
        opacity: 1;
    }
    
    .top_artist > .one > a > p {
        text-align: center;
    }
    
    .row {
        margin: 50px 0px 0px 0px;
    }
    
    .row > div > h2 {
        text-align: center;
    }
    
    .top_songs {
        /* background-image: url(/assets/logos/top-ten.png);
        background-size: 200px;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: 20px; */
        background-color: beige;
        padding: 20px;
    }
    
    .topSongsTitle {
        margin-top: 40px;
        padding-left: 20px;
    }
    
    .left {
        width: 20px;
        display: inline-block;
        vertical-align: text-bottom;
        color: gray;
    }
    
    .right {
        width: 93%;
        display: inline-block;
    }
    
    .songTitle {
        font-size: 2em;
        margin-bottom: 0px;
    }
    
    a {
        color: black;
    }
    
    a:hover {
        color: blue;
        text-decoration: none;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */

    .mobile {
        display: none;
    }

    .top_artist {
        border: 1px solid #ccc;
        border-radius: 35px;
        padding: 0px 0px 10px 20px;
    }

    .top_artist > .one {
        width: 125px;
        display: inline-block;
        margin-right: 1%
    }

    img {
        width: 120px;
        height: 120px;
        opacity: 0.7;
    }

    img:hover {
        opacity: 1;
    }

    .top_artist > .one > a > p {
        text-align: center;
    }

    .row {
        margin: 50px 0px 0px 0px;
    }

    .row > div > h2 {
        text-align: center;
    }

    .top_songs {
        margin-top: 50px;
        background-image: url(/assets/logos/top-ten.png);
        background-size: 200px;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: 20px;
        background-color: beige;
        padding: 20px;
        border-radius: 50px;
    }

    .top_songs > h2 {
        text-align: center;
        margin-bottom: 0px;
    }

    .left {
        width: 20px;
        display: inline-block;
        vertical-align: text-bottom;
        color: gray;
    }

    .right {
        width: 95%;
        display: inline-block;
    }

    .songTitle {
        font-size: 2em;
        margin-bottom: 0px;
    }

    a {
        color: black;
    }

    a:hover {
        color: blue;
        text-decoration: none;
    }
}