@media only screen and (max-width: 768px) {
    /* Mobile view styles */

    .desktop {
        display: none;
    }

    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    form {
        margin: 0px 5% 200px 5%;
        display: inline-block;
    }
    
    .howToAddLyricVideo {
        width: 47%;
        display: inline-block;
        vertical-align: top;
    }
    
    .add_lyric_instructions_table {
        background-color: white;
    }
    
    .red {
        border-color: rgba(255, 0, 0, 0.473);
    }

    ul {
        padding: 0px;
    }
    
    li {
        list-style-type: none;
        background-color: white;
        margin-bottom: 10px;
    }
    
    .singerToAdd {
        margin-right: 10px;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 768px) {
    /* Desktop view styles */

    .mobile {
        display: none;
    }

    .container {
        width: 970px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    form {
        width: 46%;
        margin: 0px 6% 200px 0px;
        display: inline-block;
    }
    
    .addingLyricsValidation {
        width: 45%;
        display: inline-block;
        vertical-align: top;
    }
    
    .howToAddLyricVideo {
        width: 47%;
        display: inline-block;
        vertical-align: top;
    }
    
    .add_lyric_instructions_table {
        background-color: white;
    }
    
    .red {
        border-color: rgba(255, 0, 0, 0.473);
    }
    
    li {
        list-style-type: none;
        background-color: white;
        padding: 10px;
        margin-bottom: 10px;
    }
    
    .singerToAdd {
        margin-right: 10px;
        margin-top: 10px;
    }
}