<div class="container">
  <div *ngIf="!lyricAddedConfirmation">
    <form (submit)='addLyric()' #form="ngForm">
      <p>Itilize fomilè sa pou ajoute pawol mizik.
        <a href="#" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Klike pou detay</a>
      </p>
      <!-- Title -->
      <div class="form-group">
        <label for="title">Tit mizik la:</label>
        <input type="text"
              name="title"
              id="title"
              [(ngModel)]="lyric.title"
              (change)="lyricAvailability()"
              required
              class="form-control input-lg"
              [ngClass]="errorColorTitle"
              placeholder="Kijan mizik la rele?">
      </div>
      <!-- Singer -->
      <div class="form-group">
        <label for="singer">Chantè mizik la:</label>
        <input type="text"
              name="singer"
              id="singer"
              [(ngModel)]="lyric.singer"
              (change)="lyricAvailability()"
              [ngClass]="errorColorSinger"
              required
              class="form-control input-lg" 
              placeholder="Kiyès ki chante mizik sa?">
      </div>
      <!-- Lyrics -->
      <div class="form-group">
        <label for="lyrics">Pawol mizik la:</label>
        <textarea name="lyrics"
              required
              id="lyrics"
              rows="10"
              [(ngModel)]="lyric.lyrics"
              (change)="lyricAvailability()"
              [ngClass]="errorColorLyric"
              class="form-control"
              placeholder="Mete pawol mizik yo la"></textarea>
      </div>
      <!-- If featurers -->
      <div class="form-group">
        <label for="featuring">Eske gen lot atis ki chante sou mizik sa (Featuring)?</label>
        <div class="radion">
          <label class="radio-inline"><input (click)="featurerAvailable('no')" selected type="radio" name="songWithFeaturing">Non</label>
          <label class="radio-inline"><input (click)="featurerAvailable('yes')" type="radio" name="songWithFeaturing">Wi</label>
        </div>
      </div>
      <!-- Featurers name -->
      <div *ngIf="featurer1" class="form-group">
        <label for="featurer1">Lot atis ki sou mizik la:</label>
        <input type="text"
              name="featurer1"
              id="featurer1"
              [(ngModel)]="lyric.featurer.one"
              class="form-control input-lg"
              placeholder="Non Atis ki featuring sou mizik sa?">
        <div *ngIf="!featurer2"><a (click)="featurerAvailable('2')">+Ajoute yon lot atis anko</a></div>
      </div>
      <div *ngIf="featurer2" class="form-group">
        <label for="featurer2">Lot atis ki sou mizik la:</label>
        <input type="text"
              name="featurer2"
              id="featurer2"
              [(ngModel)]="lyric.featurer.two"
              class="form-control input-lg"
              placeholder="Non Atis ki featuring sou mizik sa?">
        <div *ngIf="!featurer3"><a (click)="featurerAvailable('3')">+Ajoute yon lot atis anko</a></div>
      </div>
      <div *ngIf="featurer3" class="form-group">
        <label for="featurer3">Lot atis ki sou mizik la:</label>
        <input type="text"
              name="featurer3"
              id="featurer3"
              [(ngModel)]="lyric.featurer.three"
              class="form-control input-lg"
              placeholder="Non Atis ki featuring sou mizik sa?">
        <div *ngIf="!featurer4"><a (click)="featurerAvailable('4')">+Ajoute yon lot atis anko</a></div>
      </div>
      <div *ngIf="featurer4" class="form-group">
        <label for="featurer4">Lot atis ki sou mizik la:</label>
        <input type="text"
              name="featurer4"
              id="featurer4"
              [(ngModel)]="lyric.featurer.four"
              class="form-control input-lg"
              placeholder="Non Atis ki featuring sou mizik sa?">
        <div *ngIf="!featurer5"><a (click)="featurerAvailable('5')">+Ajoute yon lot atis anko</a></div>
      </div>
      <div *ngIf="featurer5" class="form-group">
        <label for="featurer5">Lot atis ki sou mizik la:</label>
        <input type="text"
              name="featurer5"
              id="featurer5"
              [(ngModel)]="lyric.featurer.five"
              class="form-control input-lg"
              placeholder="Non Atis ki featuring sou mizik sa?">
        <div *ngIf="!featurer6"><a (click)="featurerAvailable('6')">+Ajoute yon lot atis anko</a></div>
      </div>
      <div *ngIf="featurer6" class="form-group">
          <label for="featurer6">Lot atis ki sou mizik la:</label>
        <input type="text"
              name="featurer6"
              id="featurer6"
              [(ngModel)]="lyric.featurer.six"
              class="form-control input-lg"
              placeholder="Non Atis ki featuring sou mizik sa?">
        <div *ngIf="!featurer7"><a (click)="featurerAvailable('7')">+Ajoute yon lot atis anko</a></div>
      </div>
      <div *ngIf="featurer7" class="form-group">
          <label for="featurer7">Lot atis ki sou mizik la:</label>
        <input type="text"
              name="featurer7"
              id="featurer7"
              [(ngModel)]="lyric.featurer.seven"
              class="form-control input-lg"
              placeholder="Non Atis ki featuring sou mizik sa?">
        <div *ngIf="!featurer8"><a (click)="featurerAvailable('8')">+Ajoute yon lot atis anko</a></div>
      </div>
      <div *ngIf="featurer8" class="form-group">
          <label for="featurer8">Lot atis ki sou mizik la:</label>
        <input type="text"
              name="featurer8"
              id="featurer8"
              [(ngModel)]="lyric.featurer.eight"
              class="form-control input-lg"
              placeholder="Non Atis ki featuring sou mizik sa?">
        <div *ngIf="!featurer9"><a (click)="featurerAvailable('9')">+Ajoute yon lot atis anko</a></div>
      </div>
      <div *ngIf="featurer9" class="form-group">
          <label for="featurer9">Lot atis ki sou mizik la:</label>
        <input type="text"
              name="featurer9"
              id="featurer9"
              [(ngModel)]="lyric.featurer.nine"
              class="form-control input-lg"
              placeholder="Non Atis ki featuring sou mizik sa?">
        <div *ngIf="!featurer10"><a (click)="featurerAvailable('10')">+Ajoute yon lot atis anko</a></div>
      </div>
      <div *ngIf="featurer10" class="form-group">
          <label for="featurer10">Lot atis ki sou mizik la:</label>
        <input type="text"
              name="featurer10"
              id="featurer10"
              [(ngModel)]="lyric.featurer.ten"
              class="form-control input-lg"
              placeholder="Non Atis ki featuring sou mizik sa?">
      </div>
      <div class="form-group">
        <label for="realeasedDate">Kilè mizik sa soti?:</label>
        <input type="date"
              name="realeasedDate"
              id="realeasedDate"
              [(ngModel)]="lyric.realeasedDate"
              class="form-control input-lg">
      </div>
      <!-- Album -->
      <div class="form-group">
        <label for="album">Albòm mizik sa:</label>
        <input type="text"
              name="album"
              id="album"
              [(ngModel)]="lyric.album"
              class="form-control input-lg"
              placeholder="Sou ki albòm mizik sa ye?">
      </div>
      <!-- Category -->
      <div class="form-group">
        <label for="category">Kategori mizik la:</label>
        <select name="category" class="form-control input-lg" [(ngModel)]="lyric.category" id="category">
          <option value="Rap">Rap</option>
          <option value="Konpa">Konpa</option>
          <option value="Reggea">Reggea</option>
          <option value="Levanjil">Levanjil</option>
          <option value="Rasin">Rasin</option>
          <option value="Kanaval">Kanaval</option>
        </select>
      </div>
      <!-- Audio Link -->
      <div class="form-group">
        <label for="soundcloud">Lyen pou koute mizik sa sou SOUNDCLOUD:</label>
        <input type="url"
              name="soundcloud"
              id="soundcloud"
              [(ngModel)]="lyric.soundcloud"
              class="form-control input-lg"
              placeholder="Egzanp: https://soundcloud.com/rapprovens/zomor-life-goes-on">
      </div>
      <!-- Video Link -->
      <div class="form-group">
        <label for="youtube">Lyen videyo mizik sa sou YOUTUBE</label>
        <input type="url"
              name="youtube"
              id="youtube"
              [(ngModel)]="lyric.youtube"
              class="form-control input-lg"
              placeholder="Egzanp: https://www.youtube.com/watch?v=YwDTlPaPffY">
      </div>
      <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block signupEntries">Ajoute Pawol Mizik sa</button>
    </form>

    <div *ngIf="existingLyricTitles.length > 0" class="addingLyricsValidation">
        <h2>Mizik sou sit la ki gen non tankou sa:</h2>
        <ul>
          <li *ngFor="let existingLyric of existingLyricTitles"><span *ngIf="existingLyric.score > 1">{{existingLyric.title}} - {{existingLyric.singer}}</span></li>
        </ul>
    </div>

    <div *ngIf="lyric.title == null" class="howToAddLyricVideo">
      <h2>Kijan pou w ajoute yon pawol?</h2>
      <iframe width="80%" height="300" src="https://www.youtube.com/embed/sxL4Fz1Ak7M" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>
  </div>

  <div *ngIf="lyricAddedConfirmation">
    <div class="jumbotron">
      <h1>Mèsi paske ou ajoute pawol mizik sa.</h1>
      <button (click)="nextLyric(form)" class="btn btn-default">Ajoute pawol pou yon lot mizik</button>
    </div>
  </div>
  
</div>


<script>
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
  });
</script>