<div class="mainMenu">
    <app-first-menu></app-first-menu>
</div>

<div>
  <div *ngIf="artistProfile != null" class="row">
      <div class="col-sm-4 left_panel">
        <div>
            <img *ngIf="artistProfile.profil_pic" class="profile_pic" src="{{artistProfile.profil_pic}}" alt="{{artistProfile.url}}">
            <img *ngIf="!artistProfile.profil_pic || artistProfile.profil_pic == null || artistProfile.profil_pic == undefined" class="profile_pic" src="./assets/logos/avatar-placeholder.gif" alt="{{artistProfile.url}}">
        </div>
        <div class="over_profile">
            <div class="artist_name">
                <p>{{ artistProfile.name }}</p>
            </div>
            <div class="artist_slug">
                <p>{{ artistProfile.url }}</p>
            </div>
        </div>
      </div>
      <div *ngIf="artistTracks != null" class="col-sm-8 right_panel">
        <h1 class="title_right_panel">Mizik &#8595;</h1>
        <div class="oneSong" *ngFor="let result of artistTracks; let i = index">
            <a [routerLink]="['/lyrics/', result.url]">
            <div class="left">
              <p>{{ i+1 }}</p>
            </div>
            <div class="right">
                <p class="songTitle">{{ result.title }}</p>
                  <p>
                      <span *ngIf="result.feat.length > 0" class="feat_artist">
                          <span>feat. {{result.feat[0].singer.name}}</span>
                          <span *ngIf="result.feat[1]">, {{ result.feat[1].singer.name }}</span>
                          <span *ngIf="result.feat[2]">, {{ result.feat[2].singer.name }}</span>
                          <span *ngIf="result.feat[3]">, {{ result.feat[3].singer.name }}</span>
                          <span *ngIf="result.feat[4]">, {{ result.feat[4].singer.name }}</span>
                          <span *ngIf="result.feat[5]">, {{ result.feat[5].singer.name }}</span>
                          <span *ngIf="result.feat[6]">, {{ result.feat[6].singer.name }}</span>
                        </span>
                  </p>
                  <div class="songsExtra">
                      <div class="views">
                        <p><span class="glyphicon glyphicon-eye-open"></span> {{ result.views }}</p>
                      </div>
                      <div class="soundcloud_youtube">
                          <img *ngIf="result.soundcloud != null" src="./assets/logos/soundcloud.png" alt="soundcloud">
                          <img *ngIf="result.youtube != null" src="./assets/logos/youtube.png" alt="youtube">
                      </div>
                  </div>
            </div>
          </a>

            <div class="divider"></div>
          </div>
      </div>
  </div>
</div>

<app-footer></app-footer>