@media only screen and (min-width: 768px) {
    /* For desktop: */
    main {
        clear: both;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    
    h2 {
        margin: 0px 0px 0px 0px;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }
    
    .lyric {
        border-bottom: 1px solid #ccc;
        padding: 20px 10px 10px 20px;
    }
    
    .lyric:hover {
        background-color: rgb(241, 241, 241);
    }
    
    .lyric > a:hover {
        text-decoration: none;
    }
    
    .left {
        width: 5%;
        display: inline-block;
        color: #000;
    }
    
    .middle {
        width: 85%;
        display: inline-block;
        color: #000;
    }
    
    .right {
        width: 8%;
        display: inline-block;
        color: #000;
    }

    main {
        padding: 2%;
        border-radius: 10px;
    }
}

main {
    background-color: ghostwhite;
}

.moreLyrics {
    border-radius: 0px;
    border-top: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }

    h2 {
        margin: 0px 0px 0px 0px;
        border-bottom: 1px solid #ccc;
        text-align: center;
        padding: 10px;
    }
    
    .lyric {
        border-bottom: 1px solid #ccc;
        padding: 10px 10px 10px 20px;
    }
    
    .lyric:hover {
        background-color: rgb(241, 241, 241);
    }
    
    .lyric > a:hover {
        text-decoration: none;
    }
    
    .left {
        width: 6%;
        display: inline-block;
        color: grey !important;
        vertical-align: top;
    }
    
    .middle {
        width: 75%;
        display: inline-block;
        color: #000;
    }
    
    .right {
        width: 15%;
        display: inline-block;
        color: grey !important;
        text-align: center;
        vertical-align: top;
    }

    main > h2 {
        padding-left: 15px;
    }
}