@media only screen and (max-width: 767px) {
    /* For mobile phones: */

    /* main {
        background-color: white;
    }

    .container {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }

    h2 {
        margin: 0px;
        border-bottom: 1px solid #ccc;
        text-align: center;
        padding: 10px;
        padding-left: 15px;
        font-size: 18px;
    }

    .right_panel {
        padding-left: 0px;
        padding-right: 0px;
    }

    .left {
        width: 30px;
        display: inline-block;
        vertical-align: text-bottom;
        color: white;
        height: 90px;
        padding-top: 35px;
        text-align: center;
        background-color: green;
    }

    .right {
        width: 89%;
        display: inline-block;
        padding-left: 10px;
        vertical-align: top;
    }

    .songTitle {
        font-size: 2em;
        margin-bottom: 0px;
    }

    .feat_artist, .songsExtra {
        color: grey;
    }

    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: blue;
        text-decoration: none;
    }

    p {
        margin: 0px;
    }

    .songsExtra > .views, .songsExtra > .soundcloud_youtube {
        display: inline-block;
    }

    .oneSong:nth-child(even) {
        background-color: #cccccc73;
    }

    .moreLyrics {
        border-radius: 0px;
        border-top: none;
        background-color: #cccccc73;
    } */

    main {
        margin-left: auto;
        margin-right: auto;
        padding: 2% 5% 0px 5%;
        border-top: none;
        background-color: white;
    }
    
    h2 {
        margin: 0px;
        text-align: center;
        font-size: 18px;
    }

    .left {
        width: 20%;
        display: inline-block;
        height: 90px;
        text-align: center;
    }

    .clipart_container {
        float: left;
    }

    .clipart {
        width: 95px;
        height: 95px;
    }

    .right {
        width: 78%;
        display: inline-block;
        padding-left: 35px;
        vertical-align: top;
    }

    .songTitle {
        font-size: 2em;
        margin-bottom: 0px;
    }

    .feat_artist, .songsExtra {
        color: grey;
    }

    a {
        color: black;
        text-decoration: none;
    }

    p {
        margin: 0px;
    }

    .oneSong:hover {
        background-color: #ccc;
    }

    .songsExtra > .views, .songsExtra > .soundcloud_youtube, .songsExtra > .rank {
        display: inline-block;
    }

    .oneSong {
        border: 1px solid #ccc;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .moreLyrics {
        border-radius: 0px;
        border-top: none;
        background-color: #cccccc73;
    }

}

@media only screen and (min-width: 768px) {
    /* For desktop: */

    main {
        clear: both;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1%;
        border-top: none;
        background-color: white;
    }
    
    h2 {
        margin: 0px;
        text-align: center;
        font-size: 18px;
    }

    .left {
        width: 20%;
        display: inline-block;
        height: 90px;
        text-align: center;
    }

    .clipart_container {
        float: left;
    }

    .clipart {
        width: 95px;
        height: 95px;
    }

    .right {
        width: 79%;
        display: inline-block;
        padding-left: 10px;
        vertical-align: top;
    }

    .songTitle {
        font-size: 2em;
        margin-bottom: 0px;
    }

    .feat_artist, .songsExtra {
        color: grey;
    }

    a {
        color: black;
        text-decoration: none;
    }

    p {
        margin: 0px;
    }

    .oneSong:hover {
        background-color: #ccc;
    }

    .songsExtra > .views, .songsExtra > .soundcloud_youtube, .songsExtra > .rank {
        display: inline-block;
    }

    .oneSong {
        border: 1px solid #ccc;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .moreLyrics {
        border-radius: 0px;
        border-top: none;
        background-color: #cccccc73;
    }

}