@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .desktop {
        display: none;
    }

    .navbar-toggle .icon-bar {
        background-color: #060606;
    }

    .navbar-inverse .navbar-toggle {
        border: none;
    }

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: whitesmoke;
    }

    .launchSearch {
        width: 42px;
        height: 32px;
        float: left;
        margin: 8px 0px 8px 15px;
        background-color: transparent;
        border: none;
    }

    .launchSearch > img {
        width: 100%;
    }

    .mobileSearchForm {
        border: none;
        padding: 8px 15px;
        margin: 0px;
        height: 50px;
        background-color: whitesmoke;
    }

    .mobileSearchForm > .input-group {
        width: 100%;
    }

    #searchInputMob {
        padding-left: 1%;
    }

}

.signupEntries {
    height: 50px;
}

.pwdLenghtReq, .pwdLowercaseReq, .pwdUppercaseReq, .pwdNumberReq {
    color: green;
}

.logoPart1 {
    color: blue;
}

.logoPart2 {
    color: red;
}

.navbar-brand {
    color: #ccc;
    font-size: 2em;
}

.navbar-brand:hover {
    color: #ccc;
}

.navbar-inverse {
    background-color: ghostwhite;
    border-color: #ccc;
}

.navbar-nav > li > a {
    color: #000;
}

.navbar-nav > li > a:hover {
    background-color: rgb(241, 241, 241);
}

a.dropdown-toggle:focus {
    background-color: whitesmoke;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: whitesmoke;
}

.dropdown-menu > li {
    height: 40px;
}

.dropdown-menu>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    height: 40px;
}

.modal-header {
    background-color: red;
    color: white;
}

.modal-title {
    text-align: center;
}

.modal-content {
    border-radius: 0px;
}

.modal-body {
    padding: 20px;
}

.form-control {
    border-radius: 0px;
}

.close {
    color: #fff;
    opacity: initial;
}

.btn-primary {
    color: red;
    background-color: whitesmoke;
    border-color: #ccc;
    font-size: 1.5em;
    margin-bottom: 2%;
}

.alert {
    margin-top: -1px;
    border-radius: 0px;
}

/* Search styles */

#searchInputMob:focus {
    border-color: #ccc;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

#searchInputDes:focus {
    border-color: #ccc;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.searchResult {
    margin: 0px auto 5% auto;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 560px;
    padding: 1%;
    overflow: auto;
    background-color: whitesmoke;
    position: fixed;
    z-index: 1;
}

.resultSummary > p {
    padding-left: 2%;
    color: #ccc;
}

.loader {
    width: 50%;
}

.oneResult {
    margin: 0px 0px 1% 0px;
    padding: 1% 2%;
}

.oneResult:hover {
    background-color: white;
}

.oneResult > a {
    color: black;
}

.oneResult > a:hover {
    text-decoration: none;
    color: black;
}

.oneResultTitle > p {
    font-size: 2em;
    margin: 0px;
}

.searchInput {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .mobile {
        display: none;
    }

    .longerForm {
        width: 660px;
    }

    .longerInputGroup {
        width: 630px;
    }

    .initialForm {
        width: 330px;
    }

    .initialInputGroup {
        width: 276px;
    }
}