<nav class="navbar navbar-inverse navbar-fixed-top desktop">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a *ngIf="displaySearchInMenu" class="navbar-brand" href="#"><span class="logoPart1">Pawol</span><span class="logoPart2">Mizik</span>.com</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul *ngIf="searchActiveDesktop" class="nav navbar-nav">
        <li><a href="#">Rap</a></li>
        <li><a href="#">Konpa</a></li>
        <li><a href="#">Kanaval</a></li>
        <li><a href="#">Rabòday</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="loggedUserId == null"><a data-toggle="modal" href="#SignUpModal"><span class="glyphicon glyphicon-user"></span> Anrejistre</a></li>
        <li *ngIf="loggedUserId == null"><a data-toggle="modal" href="#LogInModal"><span class="glyphicon glyphicon-log-in"></span> Konekte</a></li>
        <li *ngIf="loggedUserId != null" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Espas ou <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngIf="loggedUserProfil != null"><a href="#"><span class="glyphicon glyphicon-user"></span> {{ loggedUserProfil.username }}</a></li>
            <li><a [routerLink]="['/dashboard']"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
            <li (click)="logout()"><a href=""><span class="glyphicon glyphicon-log-out"></span> Dekonekte</a></li>
          </ul>
        </li>
      </ul>
    
      <form [ngClass]="makeSearchInputLonger" *ngIf="displaySearchInMenu" class="navbar-form navbar-left" id="theSearchDes" autocomplete="off">
          <div [ngClass]="makeInputGroupLonger" class="input-group">
            <input type="text"
                  id="searchInputDes"
                  (click)="searchForLyrics()"
                  (input)="searchForLyrics()"
                  (focusout)="closeResult()"
                  (keyup)="hideLoader()"
                  [(ngModel)]="searchInput"
                  autofocus
                  class="form-control"
                  placeholder="Pawòl ki mizik ou bezwen?"
                  name="search">

                  <div class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                      </button>
                  </div>
          </div>
        </form>
    </div>
  </div>
</nav>

  <nav class="navbar navbar-inverse navbar-fixed-top mobile">
    <div class="container-fluid">
      <div class="navbar-header">
        <button *ngIf="displaySearchInMenu && hideLaunchSearch" class="launchSearch" (click)="showSearchFormCall()"><img src="./assets/logos/launch_search_mobile.png" alt="search"></button>
          <form *ngIf="displaySearchInMenu && showSearchForm" class="navbar-form navbar-left mobileSearchForm" id="theSearchMob" autocomplete="off">
              <div class="input-group">
                <input type="text"
                      id="searchInputMob"
                      (input)="searchForLyrics()"
                      (focusout)="closeResult()"
                      (keyup)="hideLoader()"
                      [(ngModel)]="searchInput"
                      autofocus
                      class="form-control"
                      placeholder="Pawòl ki mizik ou bezwen?"
                      name="search">
  
                      <div *ngIf="InputActive" class="input-group-btn">
                          <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                          </button>
                        </div>
              </div>
            </form>
        <button *ngIf="hideLaunchSearch" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar2">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a *ngIf="hideLaunchSearch" class="navbar-brand" href="#"><span class="logoPart1">Pawol</span><span class="logoPart2">Mizik</span>.com</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar2">
        <ul class="nav navbar-nav">
          <li><a href="#">Rap</a></li>
          <li><a href="#">Konpa</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="loggedUserId == null"><a data-toggle="modal" href="#SignUpModal"><span class="glyphicon glyphicon-user"></span> Anrejistre</a></li>
          <li *ngIf="loggedUserId == null"><a data-toggle="modal" href="#LogInModal"><span class="glyphicon glyphicon-log-in"></span> Konekte</a></li>
          <li *ngIf="loggedUserId != null" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Espas ou <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li *ngIf="loggedUserProfil != null"><a href="#"><span class="glyphicon glyphicon-user"></span> {{ loggedUserProfil.username }}</a></li>
                <li><a [routerLink]="['/dashboard']"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                <li (click)="logout()"><a href=""><span class="glyphicon glyphicon-log-out"></span> Dekonekte</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Signup Modal -->
  <div id="SignUpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Kreye Kont ou sou Pawolmizik!</h4>
        </div>
        <div class="modal-body">
            <div *ngIf="signUpError" class="alert alert-warning">
                <strong>Woyyyyyy!</strong>
                <p *ngFor="let error of signUpErrors">{{ error }}</p>
            </div>
          <form (submit)='register()' #form="ngForm">
            <div class="form-group">
              <input type="text"
                    name="username"
                    [(ngModel)]="user.username"
                    required
                    pattern="\S+"
                    (input)="usernameAvailability()"
                    (keyup)="usernameAvailability()"
                    minlength="3"
                    maxlength="20"
                    class="form-control signupEntries" 
                    placeholder="Non itilizatè w">
              <!-- Alert flashing for username availability -->
              <div *ngIf='usernameExist == false' class="alert alert-success">
                <strong>Byenvini!</strong> Non sa bon ou met kenbe l
              </div>
              <div *ngIf='usernameExist' class="alert alert-danger">
                  <strong>Woyyyyyy!</strong> Nom itilizatè sa egziste deja
              </div>
              <div *ngIf='usernameTooShort && usernameExist == null' class="alert alert-danger">
                  <strong>Woyyyyyy!</strong> Nom itilizatè sa two kout
              </div>
            </div>

            <div class="form-group">
              <input type="email"
                    name="email"
                    [(ngModel)]="user.email"
                    (change)="emailErrorCheck()"
                    required
                    class="form-control signupEntries" 
                    placeholder="Email adrès ou">
              <div *ngIf="logginError" class="alert alert-warning">
                <strong>Woyyyyyy!</strong>
                <p>{{ logginError }}</p>
              </div>
            </div>
            <div class="form-group">
              <input type="password"
                    name="password"
                    required
                    minlength="8"
                    (click)="printPwdReq()"
                    (focus)="printPwdReq()"
                    (input)="checkPwdReq(password)"
                    (change)="checkPwdReq(password)"
                    (keyup)="checkPwdReq(password)"
                    #password="ngModel"
                    [(ngModel)]="user.password"
                    class="form-control signupEntries"
                    placeholder="Mokle ou">
              <div *ngIf='pwdReq' class="alert alert-danger">
                <p>Mo kle ou sipoze genyen:</p>
                 <ul>
                   <li [class]="pwdLenghtReq">8 karaktè pi piti</li>
                   <li [class]="pwdLowercaseReq">1 lèt miniskil</li>
                   <li [class]="pwdUppercaseReq">1 lèt majiskil</li>
                   <li [class]="pwdNumberReq">1 chif</li>
                 </ul>
              </div>
              <div *ngIf='pwdReqMet' class="alert alert-success">
                  <strong>Waaawwww!</strong> Mokle sa depase bon
              </div>
            </div>
            <div class="form-group">
              <input type="password"
                    name="password_confirmation"
                    required
                    minlength="8"
                    #pwdConf="ngModel"
                    (input)="checkPwdConf()"
                    (keyup)="checkPwdConf()"
                    [(ngModel)]="user.password_confirmation"
                    class="form-control signupEntries"
                    placeholder="Konfime Mokle ou">
              <div *ngIf='pwdConfMet' class="alert alert-success">
                <p>Mokle ou yo menm</p>
              </div>
              <div *ngIf='pwdConfMet == false' class="alert alert-warning">
                  <p>Mokle ou yo pa menm</p>
              </div>
            </div>
            <button type="submit" [disabled]="form.invalid" class="btn btn-primary  signupEntries">Anrejistre</button>
          </form>
          <p><a data-toggle="modal" href="#LogInModal" data-dismiss="modal">Klike la pou konekte</a> si w deja gen yon kont</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Anile</button>
        </div>
      </div>
  
    </div>
  </div>
  
  
  <!-- Modal -->
  <div id="LogInModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Konekte</h4>
        </div>
        <div class="modal-body">
          <div *ngIf="logginError" class="alert alert-warning">
              <strong>Woyyyyyy!</strong>
              <p>{{ logginError }}</p>
              <p *ngIf="emailFormatIsValid">Ou ka eseye konekte <strong>{{ logginAttemptRemaining }}</strong> fwa ankò</p>
            </div>
          <form (submit)='login()' #loginForm="ngForm">
            <div class="form-group">
              <input type="email"
                    name="email"
                    [(ngModel)]="user.email"
                    (change)="emailErrorCheck()"
                    required
                    class="form-control signupEntries" 
                    placeholder="Email adrès ou">
            </div>
            <div class="form-group">
              <input type="password"
                    name="password"
                    [(ngModel)]="user.password"
                    required
                    minlength="8"
                    class="form-control signupEntries"
                    placeholder="Mokle ou">
            </div>
            <div class="checkbox">
              <label><input type="checkbox"> Kite'm konekte</label>
            </div>
            <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary  signupEntries">Konekte</button>
          </form>
          <p><a data-toggle="modal" href="#SignUpModal" data-dismiss="modal">Klike la pou kreye yon kont </a>siw pako genyen!</p>
          <p>Ou bliye mokle ou?<a data-toggle="modal" href="#PasswordResetModal" data-dismiss="modal"> Klike la pou retwouve li</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Anile</button>
        </div>
      </div>
  
    </div>
  </div>
  
  <!-- Modal -->
  <div id="PasswordResetModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Retwouve Mokle ou</h4>
        </div>
        <div class="modal-body">
            <div *ngIf="resetReqSuccesfullMsg && !askVisitorToRegister" class="alert alert-success">
                <p>{{ resetReqSuccesfullMsg }}</p>
            </div>
            <div *ngIf="askVisitorToRegister" class="alert alert-info">
                <strong>Dezole ou pa gen kont sou PawolMizik!</strong>
                <div><a data-toggle="modal" href="#SignUpModal" data-dismiss="modal"><button class="btn btn-success btn-lg">Klike la pou kreye yon kont</button></a></div>
            </div>
            <div *ngIf="!resetReqSuccesfullMsg && !askVisitorToRegister">
                <p>Rantre email adrès ou pou w ka resevwa yon lyen pou chanje mokle ou.</p>
                <form (submit)="reset()">
                  <div class="form-group">
                    <input type="email"
                          name="email"
                          [(ngModel)]="user.email"
                          (change)="emailErrorCheck()"
                          required
                          class="form-control signupEntries" 
                          id="email"
                          placeholder="Email adrès ou">
                    <div *ngIf="logginError" class="alert alert-warning">
                      <strong>Woyyyyyy!</strong>
                      <p>{{ logginError }}</p>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary  signupEntries">Chanje Mokle</button>
                </form>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Anile</button>
        </div>
      </div>
  
    </div>
  </div>

  <div *ngIf="searchResult != null" class="searchResult">
      <div class="resultSummary"><p>Nou jwenn {{ searchResult.length }} rezilta pou rechèch sa:</p></div>  
  
        <div class="oneResult" *ngFor="let result of searchResult">
          <!-- <a [routerLink]="['/lyrics/', result.url]">{{result.title}} - {{result.singer}}</a> -->
          <a [routerLink]="['/lyrics/', result.url]">
          <div class="oneResultTitle"><p>{{ result.title }}</p></div>
          <div class="oneResultSingers">
              <p>{{result.singer.name}}
                  <span *ngIf="result.feat.length > 0">
                    <span>feat. {{result.feat[0].singer.name}}</span>
                    <span *ngIf="result.feat[1]">, {{ result.feat[1].singer.name }}</span>
                    <span *ngIf="result.feat[2]">, {{ result.feat[2].singer.name }}</span>
                    <span *ngIf="result.feat[3]">, {{ result.feat[3].singer.name }}</span>
                    <span *ngIf="result.feat[4]">, {{ result.feat[4].singer.name }}</span>
                    <span *ngIf="result.feat[5]">, {{ result.feat[5].singer.name }}</span>
                    <span *ngIf="result.feat[6]">, {{ result.feat[6].singer.name }}</span>
                  </span>
                </p>
          </div>
          </a>
        </div>
      <img *ngIf="showLoader" class="loader" src="./assets/logos/loader.gif" alt="">
      <p *ngIf="noResult  && searchResult == null" class="noResult" class="alert alert-danger">Dezole! Pa gen rezilta pou rechèch ou a. Tanpri eseye ak lòt mo.</p>
    </div>