.container {
    width: 970px;
    padding-left: 0px;
    padding-right: 0px;
}

.panel {
    margin-bottom: 40px;
}

.panelLyrics > .panel-body {
    padding: 0px;
}

.lyricDetails {
    margin-bottom: 0px;
}