<div class="container">
  <div class="panel panel-default">
      <div class="panel-heading">Detay Kont ou ({{ loggedUserLyrics.length }} pawòl)</div>
      <div class="panel-body">
        <p>Rekonpans:</p>
        <ul>
          <li>5 goud pou pawol chak mizik (Fòk pawòl yo gen mwens ke 20% erè).</li>
          <li>1 goud pou lyen Souncloud chak mizik (Fòk mizik la jwe).</li>
          <li>1 poud pou lyen videyo Youtube chak mizik (Fòk a jwe. Svp swiv enstriksyon yo pou evite pwoblèm).</li>
        </ul>
        <p>Stati:</p>
        <ul>
          <li>Verifikasyon: Mizik la disponib sou sit la men li pako verifye. Ou pako ap jwenn rekonpans pou li.</li>
          <li>Verifye: Nou aksepte pawòl mizik la e ou pral jwenn rekonpas pou li. Enpòtan: Si lyen SoundCloud 
            oubyen Youtube la pa mache ou pap jwenn rekonpans pou yo.</li>
        </ul>
      </div>
  </div>

  <div class="panel panel-default panelLyrics">
    <div class="panel-heading">List pawòl ou yo</div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped lyricDetails">
            <thead>
              <tr>
                <th>#</th>
                <th>Pawol</th>
                <th>Dat</th>
                <th>Rekonpans</th>
                <th>Stati</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lyric of loggedUserLyrics; let i= index">
                <td>{{i+1}}</td>
                <td><a [routerLink]="['/lyrics/', lyric.url]">
                  <div>
                    <p>{{ lyric.title }} - {{ lyric.singer.name }}
                          <span *ngIf="lyric.feat.length > 0">
                            <span>feat. {{lyric.feat[0].singer.name}}</span>
                            <span *ngIf="lyric.feat[1]">, {{ lyric.feat[1].singer.name }}</span>
                            <span *ngIf="lyric.feat[2]">, {{ lyric.feat[2].singer.name }}</span>
                            <span *ngIf="lyric.feat[3]">, {{ lyric.feat[3].singer.name }}</span>
                            <span *ngIf="lyric.feat[4]">, {{ lyric.feat[4].singer.name }}</span>
                            <span *ngIf="lyric.feat[5]">, {{ lyric.feat[5].singer.name }}</span>
                            <span *ngIf="lyric.feat[6]">, {{ lyric.feat[6].singer.name }}</span>
                          </span>
                    </p>
                </div></a>
                </td>
                <td>{{lyric.createdAt | date: 'dd/MM/yyyy'}}</td>
                <td *ngIf="lyric.soundcloud != null || lyric.youtube != null">Jiska 7 Goud</td>
                <td *ngIf="lyric.soundcloud == null && lyric.youtube == null">5 Goud</td>
                <td *ngIf="lyric.verified == false">Verifikasyon...</td>
                <td *ngIf="lyric.verified">Verifye!</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
</div>

  <!-- <h2>List pawòl ou yo</h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Pawol</th>
            <th>Dat</th>
            <th>Rekonpans</th>
            <th>Stati</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lyric of loggedUserLyrics; let i= index">
            <td>{{i+1}}</td>
            <td><a [routerLink]="['/lyrics/', lyric.url]">
              <div>
                <p>{{ lyric.title }} - {{ lyric.singer.name }}
                    <span *ngIf="lyric.featuring != null">
                        <span>feat. {{lyric.featuring.one.name}}</span>
                        <span *ngIf="lyric.featuring.two != null">, {{ lyric.featuring.two.name }}</span>
                        <span *ngIf="lyric.featuring.three != null">, {{ lyric.featuring.three.name }}</span>
                        <span *ngIf="lyric.featuring.four != null">, {{ lyric.featuring.four.name }}</span>
                        <span *ngIf="lyric.featuring.five != null">, {{ lyric.featuring.five.name }}</span>
                        <span *ngIf="lyric.featuring.six != null">, {{ lyric.featuring.six.name }}</span>
                        <span *ngIf="lyric.featuring.seven != null">, {{ lyric.featuring.seven.name }}</span>
                      </span>
                </p>
            </div></a>
            </td>
            <td>{{lyric.createdAt | date: 'dd/MM/yyyy'}}</td>
            <td *ngIf="lyric.soundcloud != null || lyric.youtube != null">Jiska 7 Goud</td>
            <td *ngIf="lyric.soundcloud == null && lyric.youtube == null">5 Goud</td>
            <td *ngIf="lyric.verified == false">Verifikasyon...</td>
            <td *ngIf="lyric.verified">Verifye!</td>
          </tr>
        </tbody>
      </table>
  </div> -->
</div>