<div class="mainMenu">
  <app-first-menu></app-first-menu>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 artist-list">
        <h2 class="alpha-artist">{{ artistsInAlphabeticalOrder.length }} atis ki komanse pa {{ letterToRequest | uppercase }}:</h2>

        <div *ngFor="let artist of artistsInAlphabeticalOrder" class="one">
          <div *ngIf="artist.url != null">
            <a [routerLink]="['/', artist.url]">
              <img src="{{artist.profil_pic}}" class="img-circle" alt="Photo {{ artist.name }}">
              <p>{{ artist.name }}</p>
            </a>
          </div>
          <div *ngIf="artist.url == null || artist.url == undefined">
              <img src="./assets/logos/avatar-placeholder.gif" class="img-circle" alt="Photo {{ artist.name }}">
              <p>{{ artist.name }}</p>
          </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ad_right_lyric desktop" data-spy="affix" data-offset-top="205">
          <iframe src="//cdn.bannersnack.com/banners/bxuios5po/embed/index.html?userId=16738576&t=1516214565" width="300" height="250" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe>
        </div>
        <div class="ad_right_lyric mobile">
          <iframe src="//cdn.bannersnack.com/banners/bxuios5po/embed/index.html?userId=16738576&t=1516214565" width="300" height="250" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe>
        </div>
    </div>
  </div>
</div>

<app-footer></app-footer>