<h2 class="mobile topSongsTitle">Top mizik kanaval</h2>
<div class="top_songs">
        <div *ngFor="let result of topRapSongs; let i = index">
            <div class="oneTrack">
                        <div class="left">
                        <p>{{ i+1 }}</p>
                        </div>
                        <a [routerLink]="['/lyrics/', result.url]">
                        <div class="right">
                            <p class="songTitle">{{ result.title }}</p>
                            <p>{{ result.singer.name }}
                                <span *ngIf="result.feat.length > 0">
                                    <span>feat. {{result.feat[0].singer.name}}</span>
                                    <span *ngIf="result.feat[1]">, {{ result.feat[1].singer.name }}</span>
                                    <span *ngIf="result.feat[2]">, {{ result.feat[2].singer.name }}</span>
                                    <span *ngIf="result.feat[3]">, {{ result.feat[3].singer.name }}</span>
                                    <span *ngIf="result.feat[4]">, {{ result.feat[4].singer.name }}</span>
                                    <span *ngIf="result.feat[5]">, {{ result.feat[5].singer.name }}</span>
                                    <span *ngIf="result.feat[6]">, {{ result.feat[6].singer.name }}</span>
                                    </span>
                            </p>
                        </div>
                        </a>
            </div>
        </div>
    </div>