@media only screen and (max-width: 767px) {
    /* For mobile phones: */
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .categories {
        display: inline-block;
        width: 18%;
        margin-right: 2%;
    }

    .category {
        position: relative;
        text-align: center;
        color: white;    
    }

    .single {
        position: absolute;
        top: 44%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 3em;
    }

    img {
        width: 100%;
    }

    p {
        text-align: center;
        margin-top: 5px;

    }
}