.container {
    width: 970px;
    padding-left: 0px;
    padding-right: 0px;
}

.mainMenu {
    margin: 0px 0px 100px 0px;
}

#welcomeHeader {
    text-align: center;
}

.userWelcome > a {
    color: black;
    text-decoration: none;
}