<div class="top_artist">
  <h2>Top atis rap</h2>
  <div class="one">
    <a [routerLink]="['/baky-popile']">
      <img src="./assets/figures/baky-popile.jpeg" class="img-circle" alt="Baky Popilè">
      <p>Baky Popilè</p>
    </a>
  </div>

  <div class="one">
    <a [routerLink]="['/roody-roodboy']">
      <img src="./assets/figures/roody-roodboy.jpg" class="img-circle" alt="Roody RoodBoy">
      <p>Roody RoodBoy</p>
    </a>
  </div>

  <div class="one">
    <a [routerLink]="['/wendy-traka']">
      <img src="./assets/figures/wendy-traka.jpg" class="img-circle" alt="Wendy Traka">
      <p>Wendy Traka</p>
    </a>
  </div>

  <div class="one">
    <a [routerLink]="['/trouble-boy-hitmaker']">
      <img src="./assets/figures/trouble-boy-hitmaker.jpg" class="img-circle" alt="Trouble Boy Hitmaker">
      <p>Trouble Boy</p>
    </a>
  </div>

  <div class="one">
    <a [routerLink]="['/izolan']">
      <img src="./assets/figures/izolan.jpg" class="img-circle" alt="Izolan">
      <p>Izolan</p>
    </a>
  </div>

  <div class="one">
    <a [routerLink]="['/blaze-one']">
      <img src="./assets/figures/blaze-one.jpg" class="img-circle" alt="Blaze One">
      <p>Blaze One</p>
    </a>
  </div>

  <div class="one">
    <a [routerLink]="['/fantom']">
      <img src="./assets/figures/fantom.jpg" class="img-circle" alt="Fantom">
      <p>Fantom</p>
    </a>
  </div>

  <div class="one">
    <a [routerLink]="['/princess-eud']">
      <img src="./assets/figures/princess-eud.jpg" class="img-circle" alt="Princess Eud">
      <p>Princess Eud</p>
    </a>
  </div>
</div>

<h2 class="mobile topSongsTitle">Top mizik rap</h2>
    <div class="top_songs">
      
        <div *ngFor="let result of topRapSongs; let i = index">
            <div class="oneTrack">
                        <div class="left">
                        <p>{{ i+1 }}</p>
                        </div>
                        <a [routerLink]="['/lyrics/', result.url]">
                        <div class="right">
                            <p class="songTitle">{{ result.title }}</p>
                            <p>{{ result.singer.name }}
                                <span *ngIf="result.feat.length > 0">
                                    <span>feat. {{result.feat[0].singer.name}}</span>
                                    <span *ngIf="result.feat[1]">, {{ result.feat[1].singer.name }}</span>
                                    <span *ngIf="result.feat[2]">, {{ result.feat[2].singer.name }}</span>
                                    <span *ngIf="result.feat[3]">, {{ result.feat[3].singer.name }}</span>
                                    <span *ngIf="result.feat[4]">, {{ result.feat[4].singer.name }}</span>
                                    <span *ngIf="result.feat[5]">, {{ result.feat[5].singer.name }}</span>
                                    <span *ngIf="result.feat[6]">, {{ result.feat[6].singer.name }}</span>
                                    </span>
                            </p>
                        </div>
                        </a>
            </div>
        </div>
    </div>