<div class="mobile topAd">
    <iframe src="//cdn.bannersnack.com/banners/bcpl6nucg/embed/index.html?userId=16738576&t=1528783798" width="100%" height="100%" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe>
</div>

<h2 class="topArtistHeading">&#8681; TOP ATIS RAP &#8681;</h2>
<div class="top_artist">
  <div class="one">
    <a [routerLink]="['/baky-popile']">
      <img src="./assets/figures/baky-popile.jpeg" class="img-circle" alt="Baky Popilè">
      <p>Baky Popilè</p>
    </a>
  </div>

  <div class="one">
    <a [routerLink]="['/roody-roodboy']">
      <img src="./assets/figures/roody-roodboy.jpg" class="img-circle" alt="Roody RoodBoy">
      <p>Roody RoodBoy</p>
    </a>
  </div>

  <div class="one">
    <a [routerLink]="['/wendy-traka']">
      <img src="./assets/figures/wendy-traka.jpg" class="img-circle" alt="Wendy Traka">
      <p>Wendy Traka</p>
    </a>
  </div>

  <div class="one">
    <a [routerLink]="['/trouble-boy-hitmaker']">
      <img src="./assets/figures/trouble-boy-hitmaker.jpg" class="img-circle" alt="Trouble Boy Hitmaker">
      <p>Trouble Boy</p>
    </a>
  </div>

  <div class="one">
    <a [routerLink]="['/izolan']">
      <img src="./assets/figures/izolan.jpg" class="img-circle" alt="Izolan">
      <p>Izolan</p>
    </a>
  </div>

  <div class="one">
    <a [routerLink]="['/blaze-one']">
      <img src="./assets/figures/blaze-one.jpg" class="img-circle" alt="Blaze One">
      <p>Blaze One</p>
    </a>
  </div>

  <div class="one">
    <a [routerLink]="['/fantom']">
      <img src="./assets/figures/fantom.jpg" class="img-circle" alt="Fantom">
      <p>Fantom</p>
    </a>
  </div>

  <div class="one">
    <a [routerLink]="['/princess-eud']">
      <img src="./assets/figures/princess-eud.jpg" class="img-circle" alt="Princess Eud">
      <p>Princess Eud</p>
    </a>
  </div>
</div>
  
  <!-- Top Songs section -->
  <div class="top_songs">  
    <h2>&#8681; TOP RAP &#8681;</h2>
    <div class="oneSong" *ngFor="let result of topRapSongs; let i = index">
        <a [routerLink]="['/lyrics/', result.url]">
        <div class="left">
          <p>{{ i+1 }}</p>
        </div>
        <div class="right">
            <p class="songTitle">{{ result.title }}</p>
              <p>{{result.singer.name}}
                  <span *ngIf="result.feat.length > 0" class="feat_artist">
                      <span>feat. {{result.feat[0].singer.name}}</span>
                      <span *ngIf="result.feat[1]">, {{ result.feat[1].singer.name }}</span>
                      <span *ngIf="result.feat[2]">, {{ result.feat[2].singer.name }}</span>
                      <span *ngIf="result.feat[3]">, {{ result.feat[3].singer.name }}</span>
                      <span *ngIf="result.feat[4]">, {{ result.feat[4].singer.name }}</span>
                      <span *ngIf="result.feat[5]">, {{ result.feat[5].singer.name }}</span>
                      <span *ngIf="result.feat[6]">, {{ result.feat[6].singer.name }}</span>
                    </span>
              </p>
              <div class="songsExtra">
                  <div class="views">
                    <p><span class="glyphicon glyphicon-eye-open"></span> {{ result.views }}</p>
                  </div>
                  <div class="soundcloud_youtube">
                      <img *ngIf="result.soundcloud != null" src="./assets/logos/soundcloud.png" alt="soundcloud">
                      <img *ngIf="result.youtube != null" src="./assets/logos/youtube.png" alt="youtube">
                  </div>
              </div>
        </div>
      </a>
    
        <div class="divider"></div>
      </div>
  </div>
  <div class="adRightToTopSongs">
      <iframe src="//cdn.bannersnack.com/banners/bxuios5po/embed/index.html?userId=16738576&t=1516214565" width="300" height="250" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe>
  </div>