/* You can add global styles to this file, and also import other style files */

body {
    background-image: url(./assets/logos/main_background.jpg);
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}