<div class="mainMenu">
  <app-first-menu></app-first-menu>
</div>

<!-- <div class="topBanner">
  <img src="./assets/ad_mockup.PNG" alt="">
</div> -->

<div class="container">

  <h1 class="mobile"><span id="pawol">Pawol</span><span id="mizik">Mizik</span>.com</h1>

  <div class="searchInput">
    <form id="theSearch" autocomplete="off" class="" action="/action_page.php">
      <div class="input-group">
        <input type="text"
              id="searchInput"
              (input)="searchForLyrics()"
              (focusout)="closeResult()"
              (keyup)="hideLoader()"
              [(ngModel)]="searchInput"
              autofocus
              class="form-control"
              placeholder="Pawòl ki mizik ou bezwen?"
              name="search">
      </div>
    </form>
  </div>

  <div *ngIf="searchResult != null" class="searchResult">
    <div class="resultSummary"><p>Nou jwenn {{ searchResult.length }} rezilta pou rechèch sa:</p></div>  

      <div class="oneResult" *ngFor="let result of searchResult">
        <!-- <a [routerLink]="['/lyrics/', result.url]">{{result.title}} - {{result.singer}}</a> -->
        <a [routerLink]="['/lyrics/', result.url]">
        <div class="oneResultTitle"><p>{{ result.title }}</p></div>
        <div class="oneResultSingers"><p>{{result.singer}} <span *ngIf="result.featurer.one != null">feat. {{ result.featurer.one}}</span></p></div>
        </a>
      </div>
    <img *ngIf="showLoader" class="loader" src="./assets/logos/loader.gif" alt="">
    <p *ngIf="noResult  && searchResult == null" class="noResult" class="alert alert-danger">Dezole! Pa gen rezilta pou rechèch ou a. Tanpri eseye ak lòt mo.</p>
  </div>

  <app-top-lyrics></app-top-lyrics>

</div>

<app-footer></app-footer>