<div class="mainMenu">
  <app-first-menu></app-first-menu>
</div>

<div class="container">

  <h1 class="mobile"><span id="pawol">Pawol</span><span id="mizik">Mizik</span>.com</h1>

  <div class="searchInput">
    <form id="theSearch" autocomplete="off">
      <div class="input-group">
        <input type="text"
              id="searchInput"
              (input)="searchForLyrics()"
              (focusout)="closeResult()"
              (keyup)="hideLoader()"
              [(ngModel)]="searchInput"
              autofocus
              class="form-control"
              placeholder="Pawòl ki mizik ou bezwen?"
              name="search">

              <div class="input-group-btn">
                  <button class="btn btn-default theSearchBtn" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
              </div>
      </div>
    </form>
  </div>

  <div *ngIf="searchResult != null" class="searchResult">
    <div class="resultSummary"><p>Nou jwenn {{ searchResult.length }} rezilta pou rechèch sa:</p></div>  

      <div class="oneResult" *ngFor="let result of searchResult">
        <a [routerLink]="['/lyrics/', result.url]">
        <div class="oneResultTitle"><p>{{ result.title }}</p></div>
        <div class="oneResultSingers">
          <p>{{result.singer.name}}
            <span *ngIf="result.feat.length > 0">
              <span>feat. {{result.feat[0].singer.name}}</span>
              <span *ngIf="result.feat[1]">, {{ result.feat[1].singer.name }}</span>
              <span *ngIf="result.feat[2]">, {{ result.feat[2].singer.name }}</span>
              <span *ngIf="result.feat[3]">, {{ result.feat[3].singer.name }}</span>
              <span *ngIf="result.feat[4]">, {{ result.feat[4].singer.name }}</span>
              <span *ngIf="result.feat[5]">, {{ result.feat[5].singer.name }}</span>
              <span *ngIf="result.feat[6]">, {{ result.feat[6].singer.name }}</span>
            </span>
          </p>
        </div>
        </a>
      </div>
    <img *ngIf="showLoader" class="loader" src="./assets/logos/loader.gif" alt="">
    <p *ngIf="noResult  && searchResult == null" class="noResult" class="alert alert-danger">Dezole! Pa gen rezilta pou rechèch ou a. Tanpri eseye ak lòt mo.</p>
  </div>

</div>

<div class="homePanels">
  <app-top-lyrics></app-top-lyrics>
</div>

<app-footer></app-footer>