.thecontainer {
    background-color: white;
}

.mainMenu {
    clear: both;
    margin-bottom: 100px;
}

.topBanner {
    margin-left: auto;
    margin-right: auto;
    width: 780px;
}

/* #theSearch {
    margin-bottom: 100px;
} */

#searchInput {
    height: 60px;
    padding-left: 4%;
    font-size: 2em;
}

.theSearchBtn {
    height: 60px;
}

#searchInput:focus {
    border-color: #ccc;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.searchResult {
    margin: -10% auto 5% auto;
    width: 50%;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 480px;
    padding: 1%;
    overflow: auto;
}

.resultSummary > p {
    padding-left: 2%;
    color: #ccc;
}

.loader {
    width: 100%;
}

.oneResult {
    margin: 0px 0px 1% 0px;
    padding: 1% 2%;
}

.oneResult:hover {
    background-color: whitesmoke;
}

.oneResult > a {
    color: black;
}

.oneResult > a:hover {
    text-decoration: none;
    color: black;
}

.oneResultTitle > p {
    font-size: 2em;
    margin: 0px;
}

.searchInput {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

.input-group {
    width: 100%;
}

    /* form {
        margin: 0px auto 0px auto;
    } */

    .container > h1 {
        text-align: center;
        font-size: 4em;
        color: #ccc;
    }

    #pawol {
        color: blue;
    }

    #mizik {
        color: red;
    }

.panelOne {
    width: 30%;
    float: left;
    height: 1000px;
}

.adPanelOne {
    width: 300px;
    float: right;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.panelTwo {
    width: 40%;
    display: inline-block;
}

.adPanelThree {
    width: 300px;
    float: left;
    margin-top: 40px;
    margin-left: 40px;
}

.affix {
    top: 50px;
    z-index: 9999 !important;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */

    .desktop {
        display: none;
    }

    .homePanels {
        background-color: white;
        padding-bottom: 50px;
    }

    .panelThree {
        width: 30%;
        float: right;
        height: 1000px;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    
    .container {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .mobile {
        display: none;
    }

    .searchInput {
        width: 80%;
    }

    #searchInput {
        font-size: 1.4em;
    }

    .searchResult {
        margin: -10% auto 5% auto;
        width: 100%;
        border: 1px solid #ccc;
        border-top: none;
        max-height: 650px;
        padding: 1%;
        overflow: auto;
    }

    .homePanels {
        background-color: white;
        padding-bottom: 10px;
    }

    .panelTwo {
        width: 100%;
    }

    .panelThree {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin: 30px auto;
    }
}