<div class="mainMenu">
  <app-first-menu></app-first-menu>
</div>

<div class="container">

  <h1 class="mobile"><span id="pawol">Pawol</span><span id="mizik">Mizik</span>.com</h1>

  <div class="searchInput">
    <form id="theSearch" autocomplete="off">
      <div class="input-group">
        <input type="text"
              id="searchInput"
              (input)="searchForLyrics()"
              (focusout)="closeResult()"
              (keyup)="hideLoader()"
              [(ngModel)]="searchInput"
              autofocus
              class="form-control"
              placeholder="Pawòl ki mizik ou bezwen?"
              name="search">

              <div class="input-group-btn">
                  <button class="btn btn-default theSearchBtn" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
              </div>
      </div>
    </form>
  </div>

  <div *ngIf="searchResult != null" class="searchResult">
    <div class="resultSummary"><p>Nou jwenn {{ searchResult.length }} rezilta pou rechèch sa:</p></div>  

      <div class="oneResult" *ngFor="let result of searchResult">
        <a [routerLink]="['/lyrics/', result.url]">
        <div class="oneResultTitle"><p>{{ result.title }}</p></div>
        <div class="oneResultSingers">
          <p>{{result.singer.name}}
            <span *ngIf="result.featuring != null">
              <span>feat. {{result.featuring.one.name}}</span>
              <span *ngIf="result.featuring.two != null">, {{ result.featuring.two.name }}</span>
              <span *ngIf="result.featuring.three != null">, {{ result.featuring.three.name }}</span>
              <span *ngIf="result.featuring.four != null">, {{ result.featuring.four.name }}</span>
              <span *ngIf="result.featuring.five != null">, {{ result.featuring.five.name }}</span>
              <span *ngIf="result.featuring.six != null">, {{ result.featuring.six.name }}</span>
              <span *ngIf="result.featuring.seven != null">, {{ result.featuring.seven.name }}</span>
            </span>
          </p>
        </div>
        </a>
      </div>
    <img *ngIf="showLoader" class="loader" src="./assets/logos/loader.gif" alt="">
    <p *ngIf="noResult  && searchResult == null" class="noResult" class="alert alert-danger">Dezole! Pa gen rezilta pou rechèch ou a. Tanpri eseye ak lòt mo.</p>
  </div>

  <app-top-lyrics></app-top-lyrics>

</div>

<app-footer></app-footer>