.thecontainer {
    background-color: white;
}

.mainMenu {
    clear: both;
    margin-bottom: 100px;
}

.topBanner {
    margin-left: auto;
    margin-right: auto;
    width: 780px;
}

/* #theSearch {
    margin-bottom: 100px;
} */

#searchInput {
    width: 450px;
    height: 60px;
}

#searchButton {
    width: 45px;
    height: 60px;
}

.searchResult {
    clear: both;
}

.searchInput {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

    /* form {
        margin: 0px auto 0px auto;
    } */

    .container > h1 {
        text-align: center;
        font-size: 4em;
        color: #ccc;
    }

    #pawol {
        color: blue;
    }

    #mizik {
        color: red;
    }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .mobile {
        display: none;
    }
}