@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .clipart {
        display: none;
    }

    .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .page-header {
        background-image: url('/assets/logos/lyric_background.jpg');
        background-size: 80px;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
    }

    .bigTitle {
        margin-left: 15px;
    }

    .bigTitle > h4 {
        color:  darkred;
    }

    .playWatchAndMore {
        margin-left: 15px;
        margin-right: 15px;
    }

    pre {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 16px;
    }

    .comment {
        margin-bottom: 30px;
        padding-bottom: 10px;
        border-bottom: 1px dotted;
    }

    .theComments {
        padding: 10px;
        background-color: navajowhite;
    }

    .singleComment {
        margin: 0px 0px 30px 0px;
        border-bottom: 1px dotted #000;
    }    

    .ad_right_lyric {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 300px;
    }

    .ad_right_lyric > iframe {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .desktop {
        display: none;
    }

    .row {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .col-md-8 {
        padding: 0px;
    }
}

.mainMenu {
    margin: 0px 0px 100px 0px;
}

pre {
    background-color: white;
    border: none;
    margin: 20px 0px 20px 0px;
    font-family: Helvetica, Arial, sans-serif;
    white-space: pre-line;
}

.soudcloudPlayer {
    margin: 20px 0px 0px 0px;
}

    .playSoundcloud {
        background-color: #ff5500;
        color: white;
    }

    .playYoutube {
        background-color: hsl(0, 100%, 38%) !important;
        color: white;
    }

.commentHeader > p {
    display: inline-block;
    font-weight: bold;
}

.theComments > h3 {
    margin-top: 0px;
}

.commentHeader > span {
    float: right;
    color: grey;
}

.commentBody {
    background-color: white;
    border-radius: 10px;
    min-height: 60px;
}

#commentBody {
    font-size: 1em;
    margin: 0px 0px 10px 0px;
    padding: 10px;
}

.commentFooter { 
    padding: 0px 0px 10px 0px;
}

.upvotedCommentConfColor { 
    color: green;
    border-color: green;
}

.bigTitle {
    display: inline-block;
    height: 110px;
    width: 80%;
}

.form-group > .signUp > a {
    color: red;
}

.form-group > .login > a {
    color: green;
}

.form-group > span {
    font-style: italic;
}

.form-group > .signUp > a:hover, .form-group > .login > a:hover {
    text-decoration: none;
}

.form-group > .signUp > a:active, .form-group > .login > a:active {
    text-decoration: none;
}

.playWatchAndMore {
    display: inline-block;
}

.share > img {
    width: 200px;
    height: 41px;
}

.likeCommentError {
    margin-top: 10px;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .container {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        max-width: 970px;
    }
    
    .page-header {
        border-radius: 30px;
    }

    pre {
        padding: 25px;
        font-size: 18px;
    }

    .lyricContent {
        border: 1px solid #ccc;
    }

    .clipart {
        display: inline-block;
        height: 60px;
        vertical-align: top;
        margin: 20px;
    }

    .clipart > img {
        width: 80px;
    }

    .comment {
        margin-bottom: 30px;
        padding-bottom: 10px;
        border-bottom: 1px dotted;
    }

    .theComments {
        padding: 10px 45px 45px 45px;
        background-color: navajowhite;
        margin-right: 0px;
    }

    .singleComment {
        margin: 0px 0px 10px 0px;
        border-bottom: 1px dotted #000;
        margin-left: -45px;
        padding-left: 45px;
    }
    

    .col-md-4 {
        margin-top: 20px;
    }

    .share {
        display: inline-block;
        width: 47%;
    }

    .affix {
        top: 80px;
    }

    .mobile {
        display: none;
    }

}