<div class="mainMenu">
    <app-first-menu></app-first-menu>
</div>

<div class="lyricHeader">

</div>

<div *ngIf="theLyric != null" class="container">
  <div class="page-header">
    <div class="clipart">
      <img src="./assets/logos/lyric_background.jpg" alt="clipart" class="img-circle">
    </div>
    <div class="bigTitle">
        <h1>{{ theLyric.title }}</h1>
        <h4>{{ theLyric.singer.name }}
            <span *ngIf="theLyric.featuring != null">
                <span>feat. {{theLyric.featuring.one.name}}</span>
                <span *ngIf="theLyric.featuring.two != null">, {{ theLyric.featuring.two.name }}</span>
                <span *ngIf="theLyric.featuring.three != null">, {{ theLyric.featuring.three.name }}</span>
                <span *ngIf="theLyric.featuring.four != null">, {{ theLyric.featuring.four.name }}</span>
                <span *ngIf="theLyric.featuring.five != null">, {{ theLyric.featuring.five.name }}</span>
                <span *ngIf="theLyric.featuring.six != null">, {{ theLyric.featuring.six.name }}</span>
                <span *ngIf="theLyric.featuring.seven != null">, {{ theLyric.featuring.seven.name }}</span>
              </span>
        </h4>
    </div>
  </div>

  <div class="playWatchAndMore">
    <button *ngIf="theLyric.soundcloud != null && showSoundcloudPlayer == false"
            type="button" class="btn btn-default playSoundcloud" (click)="playSoundcloud(theLyric.soundcloud)">
      <span class="glyphicon glyphicon-play"></span> Koute
    </button>
    <a data-toggle="modal" href="#showYoutubeVideo"><button *ngIf="theLyric.youtube != null"
            type="button" class="btn btn-default playYoutube">
      <span class="glyphicon glyphicon-film"></span> Gade
    </button></a>
  </div>
  <div class="share desktop">
    <img class="fb_share" src="./assets/logos/share-facebook.png" alt="share">
    <img class="fb_share" src="./assets/logos/share-twitter.png" alt="share">
  </div>
  <div class="soudcloudPlayer" *ngIf="showSoundcloudPlayer">
    <iframe width="100%" height="166" scrolling="no" frameborder="no" [src]="soundCloudSrc"></iframe>
  </div>
    <div class="row">
        <div class="col-md-8">
          <pre>{{ theLyric.lyrics}}</pre>
          
          <form class="comment" (submit)="addComment()" #commentForm="ngForm">
            <div class="form-group">
              <textarea class="form-control"
                        name="content"
                        [(ngModel)]="comment.content"
                        (click)="commentFieldActive()"
                        required
                        minlength="1"
                        [rows]="commentFieldLength" 
                        id="comment"
                        placeholder="Fè yon komantè!"></textarea>
            </div>
            <div *ngIf="userNotLoggedIn" class="form-group">
                <button type="button" class="btn btn-default signUp" *ngIf="loggedUserId == null"><a data-toggle="modal" href="#SignUpModal"><span class="glyphicon glyphicon-user"></span> Anrejistre</a></button>
                <button type="button" class="btn btn-default login" *ngIf="loggedUserId == null"><a data-toggle="modal" href="#LogInModal"><span class="glyphicon glyphicon-log-in"></span> Konekte</a></button>
                <span> Pou w ka komante!</span>
            </div>
            <button *ngIf="commentFieldIsActive" [disabled]="commentForm.invalid" type="submit" class="btn btn-default">Komante!</button>
          </form>

          <div *ngIf="theComments != null" class="theComments">
            <div *ngFor="let comment of theComments" class="singleComment">
              <div class="commentHeader">
                <p *ngIf="comment.user">{{ comment.user.username }}</p>
                <span>{{ comment.createdAt | date: 'dd/MM/yyyy' }}</span>
              </div>
              <div class="commentBody"><pre id="commentBody">{{ comment.content}}</pre></div>
              <div class="commentFooter">
                <button (click)="voteCommentUp(comment._id)"
                        [ngClass]="upvotedCommentColor"
                        class="btn btn-default">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span *ngIf="upvotedComment == null">{{ comment.upvote.length }}</span>
                        <span *ngIf="upvotedComment != null">{{ upvotedComment.upvote.length + 1}}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ad_right_lyric desktop" data-spy="affix" data-offset-top="205">
            <iframe src="//cdn.bannersnack.com/banners/bxuios5po/embed/index.html?userId=16738576&t=1516214565" width="300" height="250" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe>
          </div>
          <div class="ad_right_lyric mobile">
            <iframe src="//cdn.bannersnack.com/banners/bxuios5po/embed/index.html?userId=16738576&t=1516214565" width="300" height="250" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe>
          </div>
        </div>
      </div>
</div>


<div id="showYoutubeVideo" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Videyo</h4>
        </div>
        <div class="modal-body">
            <iframe width="100%" height="480" [src]="youtubeSrc" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
  
    </div>
</div>

<app-footer></app-footer>